@model IEnumerable<SubmissionDojo.Models.Judo>

@{
    ViewBag.Title = "Index";
}

<h2  id="index">Add Judo Technique</h2>

<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<h3 id="sheading">Search For Technique Id greater than 7 </h3>
<div class="col-md-10">
    <input type="submit" name="SearchButton" id="SearchButton" value="Search" />
    <input type="text" id="ID" size="5" />

</div>
<br />
<h3 id="results"></h3>
<div id="divResult"></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(
                function () {
                    $('#SearchButton').click(
                        function () {
                            search();
                        });
                });
            function search() {
                $('#divResult').empty();
                var Id = $('#ID').val()
                var url = "../API/Judoes/" + Id;
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (resp) {
                        $("Results").appendTo("#results");
                        $("#divResult").append("<p>Name: " + resp.Name + "<br/>Link: " + resp.Link + "<br/>Type: " + resp.Type);
                        $("#divResult").append("</p>");
                    }

                })


            }

    </script>






}
